@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  cursor: none;
}

body {
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
  --black-color: rgba(0, 0, 0, 1);
  --shadow-color: rgba(0, 0, 0, .1);
  --white-color: rgba(255, 255, 255, 1);
  --main-color: #0f0f0f;
  --second-color: #f0f0f0;
  --third-color: #ff9f1c;
  --fourth-color: #2ec4b6;
  --fifth-color: #817f7f;
  background-color: var(--main-color);
}

body.stop {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 20px !important;
  background-color: var(--second-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 30px !important;
  background-color: var(--third-color) !important;
  border: 3px solid var(--second-color);
}

button {
  cursor: none !important;
}

button p {
  margin: 0;
  position: relative;
  z-index: 3;
}

svg {
  display: none;
}

#cursor {
  z-index: 3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  pointer-events: none;
  -webkit-transition: alll 0.5s ease;
  transition: alll 0.5s ease;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  position: absolute;
  background-color: var(--fourth-color);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

#cursor.grow {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#wrapper .layer {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--second-color);
}

#wrapper .layer.top {
  width: 50vw;
  z-index: 2;
  --main-color: #fafafa;
  --second-color: #050505;
  --black-color: rgba(255, 255, 255, 1);
  --white-color: rgba(0, 0, 0, .1);
}

#wrapper .layer .content-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}

#wrapper .layer .bord {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--main-color);
  height: 60px;
}

#wrapper:nth-last-of-type(2) {
  bottom: auto;
  top: 0;
  z-index: -1;
}

.content-body {
  width: 100vw;
  height: 100%;
  color: var(--second-color);
  overflow: hidden;
  position: relative;
  -webkit-filter: url(#liq);
          filter: url(#liq);
}

.content-body .particle {
  width: 100px;
  height: 100px;
  top: -20%;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  -webkit-animation: fall 15s infinite;
          animation: fall 15s infinite;
}

.content-body .particle:nth-of-type(2n) {
  width: 60px;
  height: 60px;
}

.content-body .particle:nth-of-type(3n) {
  width: 120px;
  height: 120px;
}

.content-body .particle:nth-of-type(1) {
  left: 30%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.content-body .particle:nth-of-type(2) {
  left: 60%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.content-body .particle:nth-of-type(3) {
  left: 85%;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.content-body .particle:nth-of-type(4) {
  left: 75%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.content-body .particle:nth-of-type(5) {
  left: 35%;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.content-body .particle:nth-of-type(6) {
  left: 50%;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.content-body .particle:nth-of-type(7) {
  left: 65%;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.content-body .particle:nth-of-type(8) {
  left: 15%;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.content-body .particle:nth-of-type(9) {
  left: 55%;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.content-body .particle:nth-of-type(10) {
  left: 55%;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.content-body .particle:nth-of-type(11) {
  left: 30%;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.content-body .particle:nth-of-type(12) {
  left: 80%;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.content-body .particle:nth-of-type(13) {
  left: 45%;
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
}

.content-body .particle:nth-of-type(14) {
  left: 60%;
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
}

.content-body .particle:nth-of-type(15) {
  left: 35%;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.content-body .border {
  position: absolute;
  background-color: var(--main-color);
  width: 110%;
  height: 60px;
  left: 0;
  border: solid 1px var(--main-color) !important;
  z-index: -1;
  border-radius: 0px;
}

.content-body .border:nth-last-of-type(2) {
  top: auto;
  bottom: -1px;
}

.content-body .text {
  background-color: var(--main-color);
  text-align: center;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content-body .text h2 {
  z-index: 7;
  color: var(--second-color);
  font-size: 3rem;
  font-weight: bold;
}

.navbar {
  padding: 10px;
  height: 60px;
  z-index: 5 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.navbar .navbar-brand {
  position: relative;
  z-index: 5 !important;
}

.navbar .navbar-brand img {
  width: 50px;
}

.navbar .nav-link, .navbar .nav-item.active > .nav-link {
  color: var(--third-color) !important;
  position: relative;
  z-index: 5 !important;
  -webkit-transition: .5s;
  transition: .5s;
  text-align: center;
}

.navbar .nav-link {
  margin: 0 10px;
  min-width: 100px;
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar .nav-link .line {
  -webkit-transition: .5s;
  transition: .5s;
  height: 5px;
  width: 0%;
  background-color: var(--black-color);
  border-radius: 2px;
}

.navbar .nav-link:hover {
  color: #000000 !important;
  z-index: 1000;
  font-weight: bolder;
}

.navbar .nav-link:hover .line {
  width: 100%;
}

.navbar .nav-item.active > .nav-link {
  background-color: var(--third-color) !important;
  color: var(--second-color) !important;
  border-radius: 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.navbar .nav-item.active > .nav-link .line {
  display: none;
}

.navbar .nav-item.active > .nav-link:hover {
  font-weight: normal;
}

.handle {
  z-index: 3;
  position: absolute;
  height: 100%;
  width: 1px;
  display: block;
  background-color: transparent;
  top: 0;
  left: 50%;
}

.skewed .handle {
  height: 200%;
  top: 50%;
  -webkit-transform: rotate(30deg) translateY(-50%);
          transform: rotate(30deg) translateY(-50%);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.skewed .top {
  margin-left: -1090px;
  width: calc( 50vw + 1090px);
  border-radius: 0% 100% 100% 0% / 0% 0% 100% 100%;
  -webkit-animation: rotate-layer 10s ease-in infinite;
          animation: rotate-layer 10s ease-in infinite;
}

.skewed .top .content-wrap {
  -webkit-animation: rotate-content 10s ease-in infinite;
          animation: rotate-content 10s ease-in infinite;
  margin-left: 1090px;
}

@-webkit-keyframes rotate-layer {
  0% {
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  50% {
    -webkit-transform: skew(-40deg);
            transform: skew(-40deg);
  }
  100% {
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}

@keyframes rotate-layer {
  0% {
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  50% {
    -webkit-transform: skew(-40deg);
            transform: skew(-40deg);
  }
  100% {
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}

@-webkit-keyframes rotate-content {
  0% {
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    -webkit-transform: skew(40deg);
            transform: skew(40deg);
  }
  100% {
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
}

@keyframes rotate-content {
  0% {
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    -webkit-transform: skew(40deg);
            transform: skew(40deg);
  }
  100% {
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
}

#about {
  position: relative;
  padding: 50px 0;
  overflow: hidden;
  width: 100%;
  color: var(--second-color);
  padding-bottom: 110px;
}

#about::before {
  content: "";
  position: absolute;
  left: -50%;
  top: 0;
  width: 200%;
  height: 100%;
  background-color: var(--main-color);
  border-radius: 0 0 50% 50% / 0% 0% 100% 100%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#about h1 {
  margin: 0;
  color: var(--third-color);
  margin-bottom: 25px;
  font-weight: bolder;
  font-size: 3rem;
}

#about .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about .icons a {
  position: relative;
  z-index: 4;
  color: var(--main-color);
  margin: 10px;
  background-color: var(--second-color);
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

#about .icons a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}

#about .icons a .blured {
  position: relative;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-filter: url(#liq);
          filter: url(#liq);
}

#about .icons a .blured::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: var(--second-color);
  border-radius: 100%;
  -webkit-transition: 1.5s cubic-bezier(0, 2, 0.61, -0.05);
  transition: 1.5s cubic-bezier(0, 2, 0.61, -0.05);
}

#about .icons a .blured::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: var(--second-color);
  border-radius: 100%;
  -webkit-transition: 1.7s cubic-bezier(0, 2, 0.61, -0.05);
  transition: 1.7s cubic-bezier(0, 2, 0.61, -0.05);
}

#about .icons a .blured span:nth-of-type(1) {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: var(--second-color);
  border-radius: 100%;
  -webkit-transition: 1.5s cubic-bezier(0, 2, 0.61, -0.05);
  transition: 1.5s cubic-bezier(0, 2, 0.61, -0.05);
}

#about .icons a .blured span:nth-of-type(2) {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: var(--second-color);
  border-radius: 100%;
  -webkit-transition: 1.7s cubic-bezier(0, 2, 0.61, -0.05);
  transition: 1.7s cubic-bezier(0, 2, 0.61, -0.05);
}

#about .icons a:hover .blured {
  -webkit-animation: rotate 2s ease-in infinite;
          animation: rotate 2s ease-in infinite;
}

#about .icons a:hover .blured::before {
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
}

#about .icons a:hover .blured::after {
  width: 15px;
  height: 15px;
  top: 0px;
  left: 45px;
}

#about .icons a:hover .blured span:nth-of-type(1) {
  width: 30px;
  height: 30px;
  top: -15px;
  left: -15px;
}

#about .icons a:hover .blured span:nth-of-type(2) {
  width: -25px;
  height: -25px;
  top: 20px;
  left: 30px;
}

@-webkit-keyframes rotate {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes rotate {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

#skills {
  padding: 50px 0;
  background-color: var(--second-color);
}

#skills h1 {
  margin-top: 0;
  color: var(--third-color);
  font-weight: bolder;
  font-size: 3rem;
}

#skills .row {
  margin-bottom: 30px;
}

#skills .skill {
  position: relative;
  padding: 40px;
  width: 95%;
  margin: auto;
  margin-bottom: 30px;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: inset -6px -6px 20px var(--shadow-color), inset 6px 6px 20px var(--white-color);
          box-shadow: inset -6px -6px 20px var(--shadow-color), inset 6px 6px 20px var(--white-color);
}

#skills .skill img {
  position: relative;
  z-index: 2;
  width: 100px;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

#skills .skill h3 {
  z-index: 2;
  -webkit-transition: .5s;
  transition: .5s;
  font-weight: bold;
  margin-top: 5px;
}

#skills .skill .line {
  z-index: 2;
  width: 0;
  height: 5px;
  background-color: var(--main-color);
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
  margin-bottom: 10px;
}

#skills .skill p {
  z-index: 2;
  color: var(--fifth-color);
  max-width: 300px;
}

#skills .skill::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(27% at 0% 100%);
          clip-path: circle(27% at 0% 100%);
  -webkit-transition: 1s;
  transition: 1s;
  background-color: var(--main-color);
  -webkit-box-shadow: inset -6px -6px 20px var(--shadow-color), inset 6px 6px 20px var(--white-color);
          box-shadow: inset -6px -6px 20px var(--shadow-color), inset 6px 6px 20px var(--white-color);
}

#skills .skill::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(30% at 80% 20%);
          clip-path: circle(30% at 80% 20%);
  -webkit-transition: 1s;
  transition: 1s;
  background-color: var(--third-color);
  -webkit-box-shadow: inset -6px -6px 20px var(--shadow-color), inset 6px 6px 20px var(--white-color);
          box-shadow: inset -6px -6px 20px var(--shadow-color), inset 6px 6px 20px var(--white-color);
}

#skills .skill:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 2;
  -webkit-box-shadow: 6px 6px 20px var(--shadow-color), -6px -6px 20px var(--white-color);
          box-shadow: 6px 6px 20px var(--shadow-color), -6px -6px 20px var(--white-color);
}

#skills .skill:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#skills .skill:hover .line {
  width: 20px;
}

#skills .skill:hover::before {
  -webkit-box-shadow: 6px 6px 20px var(--shadow-color), -6px -6px 20px var(--white-color);
          box-shadow: 6px 6px 20px var(--shadow-color), -6px -6px 20px var(--white-color);
  -webkit-clip-path: circle(37% at 80% 20%);
          clip-path: circle(37% at 80% 20%);
}

#skills .skill:hover::after {
  -webkit-box-shadow: 6px 6px 20px var(--shadow-color), -6px -6px 20px var(--white-color);
          box-shadow: 6px 6px 20px var(--shadow-color), -6px -6px 20px var(--white-color);
  -webkit-clip-path: circle(20% at 0% 100%);
          clip-path: circle(20% at 0% 100%);
}

@-webkit-keyframes beat {
  0% {
    -webkit-clip-path: circle(30% at 80% 20%);
            clip-path: circle(30% at 80% 20%);
  }
  100% {
    -webkit-clip-path: circle(27% at 0% 100%);
            clip-path: circle(27% at 0% 100%);
  }
}

@keyframes beat {
  0% {
    -webkit-clip-path: circle(30% at 80% 20%);
            clip-path: circle(30% at 80% 20%);
  }
  100% {
    -webkit-clip-path: circle(27% at 0% 100%);
            clip-path: circle(27% at 0% 100%);
  }
}

#work {
  width: 100%;
  min-height: 100vh;
  padding: 50px 0 0 0;
  color: #ffffff;
  background-color: var(--third-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#work h1 {
  margin-top: 0;
  color: var(--main-color);
  font-weight: bolder;
  font-size: 3rem;
}

#work .panels {
  width: 100%;
  min-height: calc( 100vh - 100px);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.panel {
  background: var(--main-color);
  -webkit-box-shadow: inset 0 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s, -webkit-box-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s, -webkit-box-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s, -webkit-box-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), -ms-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
  font-size: 20px;
  background-size: cover;
  background-position: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.panel1 {
  background-image: url(../img/1.png);
}

.panel2 {
  background-image: url(../img/2.png);
}

.panel3 {
  background-image: url(../img/5.png);
}

.panel4 {
  background-image: url(../img/4.png);
}

.panel5 {
  background-image: url(../img/3.png);
}

.panel > * {
  margin: 0;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel > *:first-child {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.panel > *:last-child {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.panel.open-active > *:first-child, .panel.open-active > *:last-child {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.panel .info {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.panel h4 {
  position: relative;
  z-index: 2;
  width: 100%;
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
  font-weight: bold;
}

.panel .desc {
  width: 100%;
}

.panel .info {
  width: 100%;
}

.panel .info a {
  display: block;
  width: 200px;
  background-color: var(--third-color);
  margin: 20px 5px;
  padding: 10px 10px;
  border-radius: 50px;
  color: var(--main-color);
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 18px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.panel .info a:hover {
  background-color: #9c5a00;
  color: var(--second-color);
  text-decoration: none;
}

.panel.open {
  -webkit-transition: .5s;
  transition: .5s;
}

.panel.open:hover {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.panel.open:hover h4:nth-child(1) {
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  font-size: 2.5em;
}

.panel.open:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(155, 155, 155, 0)), to(black));
  background: linear-gradient(to bottom, rgba(155, 155, 155, 0), black);
  z-index: 1;
  -webkit-transition: 1s all;
  transition: 1s all;
  opacity: 1;
}

#services {
  padding: 50px 0;
  background-color: var(--second-color);
}

#services h1 {
  margin-top: 0;
  color: var(--third-color);
  font-weight: bolder;
  font-size: 3rem;
}

#services .service {
  position: relative;
  height: 80%;
  padding: 40px;
  margin: 20px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 6px 6px 20px var(--shadow-color), -6px -6px 20px var(--white-color);
          box-shadow: 6px 6px 20px var(--shadow-color), -6px -6px 20px var(--white-color);
}

#services .service h4 {
  font-weight: bolder;
  color: var(--third-color);
}

#services .service .image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  overflow: hidden;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  border-radius: 10px;
  -webkit-box-shadow: -6px -6px 20px var(---white-color), 6px 6px 20px var(--shadow-color);
          box-shadow: -6px -6px 20px var(---white-color), 6px 6px 20px var(--shadow-color);
}

#services .service .image img {
  width: 75px;
}

#services .service .image:before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.1);
  font-weight: 700;
  z-index: 5;
}

#services .service:hover .image {
  width: 40%;
  height: 40%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  background-color: var(--third-color);
}

#services .service:hover .image::before {
  content: "";
}

#contact {
  padding: 50px 0;
  height: 100vh;
  position: relative;
  color: #ffffff;
  overflow: hidden;
}

#contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--third-color);
}

#contact h1 {
  margin-top: 0;
  position: relative;
  color: var(--second-color);
  font-weight: bolder;
  font-size: 3rem;
  z-index: 1;
}

#contact .row {
  position: relative;
}

#contact .info-card {
  position: absolute;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
  border-radius: 20px;
  z-index: 2;
  color: var(--second-color);
  background-color: var(--main-color);
  -webkit-transform: translateY(7.5%);
          transform: translateY(7.5%);
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

#contact .info-card h3 {
  font-weight: bold;
}

#contact .info-card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .info-card .info span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

#contact .info-card .info span i {
  margin: 0 5px;
}

#contact .info-card .info span p {
  margin: 0;
}

#contact .message-card {
  height: 100%;
  background-color: var(--second-color);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
  border-radius: 20px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

#contact .message-card h3 {
  text-align: center;
  font-weight: bold;
  color: var(--main-color);
}

#contact .message-card #form {
  width: 80%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contact .message-card #form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 40%;
  margin: 15px 0;
}

#contact .message-card #form div input, #contact .message-card #form div textarea {
  position: relative;
  resize: none;
  width: 100% !important;
  border: none;
  padding: 5px 0;
  background-color: var(--second-color);
  outline: none;
  border-bottom: 3px solid var(--main-color);
  opacity: .5;
}

#contact .message-card #form div span {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 0;
  font-size: 18px;
  -webkit-transition: .5s;
  transition: .5s;
  color: var(--fifth-color);
  pointer-events: none;
  opacity: .5;
}

#contact .message-card #form div input:focus ~ span, #contact .message-card #form div textarea:focus ~ span, #contact .message-card #form div input:valid ~ span, #contact .message-card #form div textarea:valid ~ span {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--third-color);
  opacity: 1;
}

#contact .message-card #form .textarea {
  width: 90%;
}

#contact .message-card #form .textarea textarea {
  min-height: 120px;
}

#contact button {
  position: relative;
  z-index: 5;
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  color: var(--second-color);
  background-color: var(--third-color);
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#contact button:hover {
  background-color: #d47b06;
}

#contact #status {
  display: none !important;
  max-width: 500px;
  text-align: center;
  padding: 10px 30px;
  margin: 10px auto;
  border-radius: 25px;
}

#contact #status.success {
  display: block !important;
  background-color: #05cc30 !important;
  -webkit-animation: status 4s ease forwards;
          animation: status 4s ease forwards;
}

#contact #status.error {
  display: block !important;
  background-color: #fd0505 !important;
  color: white;
  -webkit-animation: status 4s ease forwards;
          animation: status 4s ease forwards;
}

@-webkit-keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    display: none !important;
  }
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    display: none !important;
  }
}

footer {
  height: 50px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--second-color);
}

footer .end {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  margin: 0;
}

footer i {
  padding: 0 2px;
  color: var(--third-color);
  -webkit-animation: beat 2s infinite;
          animation: beat 2s infinite;
}

footer span {
  font-size: 18px;
  color: var(--third-color);
  font-weight: bold;
}

@keyframes beat {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.go-top {
  position: fixed;
  bottom: 30px;
  right: 25px;
  width: 50px;
  height: 50px;
  background-color: var(--third-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: var(--main-color);
  z-index: 100;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.go-top:hover {
  background-color: #9c5a00;
  color: var(--second-color);
  text-decoration: none;
}

.hire-me {
  position: fixed;
  bottom: 30px;
  left: 25px;
  padding: 5px 20px;
  height: 50px;
  background-color: var(--third-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  color: var(--main-color);
  z-index: 100;
  font-weight: bold;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  -webkit-animation: wipe 4s ease-in-out infinite;
          animation: wipe 4s ease-in-out infinite;
}

.hire-me:hover {
  background-color: #9c5a00;
  color: var(--second-color);
  text-decoration: none;
}

@-webkit-keyframes wipe {
  0%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0);
  }
  20% {
    -webkit-transform: rotate(5deg) translate3d(0, 0, 0);
            transform: rotate(5deg) translate3d(0, 0, 0);
  }
  30% {
    -webkit-transform: rotate(-1deg) translate3d(0, 0, 0);
            transform: rotate(-1deg) translate3d(0, 0, 0);
  }
  40% {
    -webkit-transform: rotate(3deg) translate3d(0, 0, 0);
            transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: rotate(-3eg) translate3d(0, 0, 0);
            transform: rotate(-3eg) translate3d(0, 0, 0);
  }
  60% {
    -webkit-transform: rotate(2deg) translate3d(0, 0, 0);
            transform: rotate(2deg) translate3d(0, 0, 0);
  }
  70% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0);
  }
  80% {
    -webkit-transform: rotate(3deg) translate3d(0, 0, 0);
            transform: rotate(3deg) translate3d(0, 0, 0);
  }
  90% {
    -webkit-transform: rotate(-4deg) translate3d(0, 0, 0);
            transform: rotate(-4deg) translate3d(0, 0, 0);
  }
}

@keyframes wipe {
  0%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0);
  }
  20% {
    -webkit-transform: rotate(5deg) translate3d(0, 0, 0);
            transform: rotate(5deg) translate3d(0, 0, 0);
  }
  30% {
    -webkit-transform: rotate(-1deg) translate3d(0, 0, 0);
            transform: rotate(-1deg) translate3d(0, 0, 0);
  }
  40% {
    -webkit-transform: rotate(3deg) translate3d(0, 0, 0);
            transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: rotate(-3eg) translate3d(0, 0, 0);
            transform: rotate(-3eg) translate3d(0, 0, 0);
  }
  60% {
    -webkit-transform: rotate(2deg) translate3d(0, 0, 0);
            transform: rotate(2deg) translate3d(0, 0, 0);
  }
  70% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0);
  }
  80% {
    -webkit-transform: rotate(3deg) translate3d(0, 0, 0);
            transform: rotate(3deg) translate3d(0, 0, 0);
  }
  90% {
    -webkit-transform: rotate(-4deg) translate3d(0, 0, 0);
            transform: rotate(-4deg) translate3d(0, 0, 0);
  }
}

#loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: var(--second-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: hidden !important;
  -webkit-filter: blur(10px) contrast(15);
          filter: blur(10px) contrast(15);
}

#loader.remove {
  -webkit-animation: vanish .5s forwards;
          animation: vanish .5s forwards;
}

#loader .part {
  width: 100px;
  height: 100px;
  background-color: var(--main-color);
  border-radius: 50px;
}

#loader .part:first-child, #loader .part:last-child {
  width: 50px;
  height: 50px;
}

#loader .part:nth-child(1), #loader .part:nth-child(3), #loader .part:nth-child(5), #loader .part:nth-child(7), #loader .part:nth-child(9) {
  -webkit-animation: pulse 1.3s ease-in-out infinite;
          animation: pulse 1.3s ease-in-out infinite;
}

#loader .part.left-spin {
  -webkit-animation: left 2.5s linear infinite;
          animation: left 2.5s linear infinite;
}

#loader .part.right-spin {
  -webkit-animation: right 2s linear infinite;
          animation: right 2s linear infinite;
}

@-webkit-keyframes pulse {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes pulse {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@-webkit-keyframes left {
  from {
    -webkit-transform: rotate(0deg) translateX(50px);
            transform: rotate(0deg) translateX(50px);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(50px);
            transform: rotate(360deg) translateX(50px);
  }
}

@keyframes left {
  from {
    -webkit-transform: rotate(0deg) translateX(50px);
            transform: rotate(0deg) translateX(50px);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(50px);
            transform: rotate(360deg) translateX(50px);
  }
}

@-webkit-keyframes right {
  from {
    -webkit-transform: rotate(360deg) translateX(50px);
            transform: rotate(360deg) translateX(50px);
  }
  to {
    -webkit-transform: rotate(0deg) translateX(50px);
            transform: rotate(0deg) translateX(50px);
  }
}

@keyframes right {
  from {
    -webkit-transform: rotate(360deg) translateX(50px);
            transform: rotate(360deg) translateX(50px);
  }
  to {
    -webkit-transform: rotate(0deg) translateX(50px);
            transform: rotate(0deg) translateX(50px);
  }
}

@-webkit-keyframes rot {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rot {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
